body, html{
    margin: auto;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ----- INTRODUCTION ----- */

#presentation{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
    color: #ffffff;
    background-color: #012257;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#animation-logo{
    animation: bounce 0.35s ease infinite alternate;
}

@keyframes bounce{
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}

/* ----- SECTION PRINCIPALE ----- */

#main-section{
    padding: 0 !important;
    background-color: #E4E9ED;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: auto;
    left:0;
    width:100%;
}

/* ----- HEADER ----- */

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #012257;
}

.header-left{
    flex-direction: column;
}

.logo {
    margin: 1em;
}

.header-logo{
    margin: 1em;
    width: 3.5%;
    height: auto;
}

.header-h1{
    color: #ffffff;
    font-size: 1.8rem;
}

.select-header{
    display: none;
}

/*SELECTEUR*/

select {
    box-shadow: none;
    border: solid 1px #C6C6C6;
}

.select {
    margin: 1em;
    text-decoration: none;
    display: flex;
    width: 15em;
    height: 2em;
    overflow: hidden;
    border-radius: 30px;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #000;
    cursor: pointer;
}

/* ----- MAP CONTAINER & MAP ----- */

.map-container{
    width: 65%;
    height: auto;
    text-align: center;
    align-items: center;
    margin: auto;
}

#map{
    max-width: 99%;
    height: 600px;
}

.reload{
    margin-top: 20px;
}

#reload-btn{
    background: #012257;
    color: white;
    border: none;
}

/* ----- BARRE DE GAUCHE ----- */

#left{
    height: 90vh;
    width: 35%;
    overflow: scroll;
}

.left-content {
    top: 30%;
    overflow: scroll;
    flex-direction: column;
    border: 0;
    margin: auto;
    display: block;
}

.around{
    width: 100%;
    float: left;
    color: #000000;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    padding: 1em;
}

#list-restaurants{
   text-align: center;
    align-items: center;
    padding: auto;
}

.btn-restaurant{
    width: 90%;
    background: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    outline: 0;
    padding: 0;
    margin: 0px 0px 10px 1.3em;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-restaurant:hover{
    transform: scale(1.1)
}

.restaurant-img-left, img{
    border-radius: 5px 0 0 5px;
    height: 8em;
    margin: 0;
}

.info-restaurant {
    text-align: left;
    width: 50%;
    padding: 0;
    margin: 0;
}

.restaurant{
    list-style: none;
    padding: 0;
}

.restaurant-name{
    color: rgb(68, 68, 68);
    text-transform: uppercase;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
}

.restaurant-adress-left{
    color: #7a7a85;
    font-size: 13px;
}

#restaurant-modal{
    list-style: none;
    padding: 1em;
}


.yellow-star{
    color: #3F00DB;
}

/* ----- MODALE RESTAURANT ----- */

#modal1{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.modal-content{
    overflow: auto;
    width: 510px !important;
    padding: 0;
    max-width: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
}

.icon-close-modal{
    background-color: #012257;
    width: 100%;
}

#close-btn-modal{
    color: #ffffff;
    margin: 1em;
}

.header-modal{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.restaurant-modal{
    list-style: none;
}

.restaurant-img-modal{
    margin-top: 5px;
    width: 100%;
    height: auto;
    line-height: 45px;
}

.restaurant-name-modal{
    color: rgb(68, 68, 68);
    text-transform: uppercase;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    width: calc(100% - 45px - 20px);
}

.modal-ul{
    text-align: left;
    padding-left: 2em;
    width: 100%;
}

.adress-restaurant-modal{
    color: #7a7a85;
    font-size: 13px;
    width: calc(100% - 45px - 20px);
}

.ratings-restaurant-modal{
    width: calc(100% - 45px - 20px);
}

.stars-restaurant-modal{
    width: calc(100% - 45px - 20px);
}

.view-modal{
    color: #000000;
    font-weight: bold;
}

.comment-modal{
    padding-top: 20px;
}

.form-group{
    margin-top: 11px;
    margin-bottom: 0;
}

.control-label{
    font-weight: 500;
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px;
}

.btn-modal{
    text-align: center;
    margin-bottom: 10px;
}

.comment-text{
    padding-bottom: 1em;
    border-bottom: 1px solid #e0e0e0;
}

#add-comment{
    background: #012257;
    color: white;
}

#comment-form {
    display: none;
    padding: 1em;
}

.footer-modal{
    float: right!important;
}

.footer-modal .btn{
    margin-left: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#send-comment{
    background: #012257;
    color: white;
    border: none;
}

.btn-close-modal{
    background: rgb(245,247,248)!important;
    border: none;
    color: black;
}

.btn.btn-default {
    background: rgba(255,255,255,.3);
}

/* ----- NOUVEAU COMMENTAIRE ----- */

.star-new-comment {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
}

.star-new-comment.star-default{
    color: #3F00DB;
}

#star-new-comment:hover .star-new-comment {
    color: #3F00DB;
}

#star-new-comment .star-new-restaurant:hover ~ .star-new-comment {
    color: gray;
}

/* ----- MODALE NOUVEAU RESTAURANT ----- */

.modal-content-new-restaurant{
    overflow: auto;
    width: 510px !important;
    max-width: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
    background-color: white;
}

#modal2 {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

.header-new-restaurant{
    padding: 1em;
    width: 100%;
    background-color: #012257;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #ffffff;
}

.form-new-restaurant{
    padding: 1em;
}

.title-close-new-restaurant{
    text-align: right;
    padding-right: 1em;
}

.star-new-restaurant {
    color: gray;
    cursor: pointer;
    padding: 0.0625rem;
}

.star-new-restaurant.star-default{
    color: #3F00DB;
}

#stars-new-restaurant:hover .star-new-restaurant {
    color: #3F00DB;
}

#stars-new-restaurant .star-new-restaurant:hover ~ .star-new-restaurant {
    color: gray;
}

.form-new-restaurant{
    margin-bottom: 10px;
}

.footer-new-restaurant{
    text-align: right;
}

#add-new-restaurant{
    background: #012257;
    margin-top: 20px;
    color: white;
    border: none;
}

@media (max-device-width: 1024px){

    .header{
        justify-content: space-between;
    }

    .select-header {
        margin: 1em;
        text-decoration: none;
        display: flex;
        width: 15em;
        height: 2em;
        overflow: hidden;
        border-radius: 30px;
        float: right;
    }

    .select{
        display: none;
    }

    .logo {
        margin: 1em;
        width: 100%;
    }

    .logo img{
        width: 9%;
        height: auto;
    }

    #main-section{
        background-color: #E4E9ED;
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        top:0%;
        height:100%;
        left:0;
        width:100%;
    }

    .map-container{
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    #map{
        width: 100%;
        height: 750px;
        border: 0;
        margin: auto;
        display: block;
    }

    #left{
        height: 100vh;
        width: 100%;
        overflow: scroll;
    }

    .left-content {
        top: 30%;
        overflow: scroll;
        flex-direction: column;
        border: 0;
        margin: auto;
        display: block;
    }

    #list-restaurants{
        padding: 0;
    }

    .info-restaurant{
        width: 75%;
    }

    .btn-restaurant{
        width: 100%;
        background: #ffffff;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        outline: 0;
        margin: 0px 0px 10px 0px;
        transition: all .2s ease-in-out;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}